.CreateBookModal {
  position: fixed;
  background-color: white;
  width: 300px;
  border-radius: 5px;
  padding: 40px;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  box-sizing: border-box;
  transition: all 0.2s;
  background-color: lightcoral;
}

.Backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

button {
  margin: 20px auto 0;
  width: 80px;
}

.CreateBookModal.hidden {
  transform: translateY(-20%);
  opacity: 0;
  z-index: -500;
}

.Backdrop.hidden {
  display: none;
}